#vs files
/Simulation/.vs
/Simulation/Simulation.sln
/Simulation/Simulation.vcxproj
/Simulation/Simulation.vcxproj.filters
/Simulation/Simulation.vcxproj.user

#build files
/Simulation/bin

#imgui config
/Simulation/imgui.ini

#test run files
/Simulation/testing

